
@import 'components/_normalize.scss';
@import 'components/_mixins.scss';

@import 'components/_fonts.scss';
@import 'components/_iconfonts.scss';


// Variables
$color-primary: #5ec2d7;
$color-primary-hover: #00c2d7;
$color-text-primary: #bdbcbc;
$color-text-secundary: #121324;
$color-text-dark: #757575;
$color-background-gray: #f5f5f5;

body {
  overflow-x: hidden;
  font-family: 'DINRegular';
  color: $color-text-primary;
  font-size: 16px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@import 'components/_courses.scss';
@import 'components/_classes.scss';
@import 'components/_landing.scss';
@import 'components/_login.scss';
