doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.css')
    link(href='//db.onlinewebfonts.com/c/e934b630586ca9b7fe66c99ac1592f4a?family=DIN' rel='stylesheet" type="text/css')
    link(rel='stylesheet', href='/dist/style.css')
    title #{title}
  body

    section(class='Landing')

      div(class='Landing__bgAbove')

      header(class='LandingHeader')
        div(class='LandingHeader__logo') Genttly
        div(class='LandingHeader__cont')
          div(class='LandingHeader__contact')
            div Whatsapp: (057) 3138382148
              span(class='icon icon-whatsapp')
          div(class='LandingHeader__sigIn')
            a(href='/login') INGRESAR

      include includes/_above.pug

      include includes/_benefits.pug

      section(class='Simulator')

      include includes/_courses.pug

      include includes/_clients.pug

      include includes/_learn.pug

      include includes/_footer.pug

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js')
    script(src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
    script(src='https://cdn.jsdelivr.net/lodash/4.17.1/lodash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.js')
    script(src='dist/manifest.js')
    script(src='dist/vendor.js')
    script(src='dist/landing.js')
