doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    link(rel='stylesheet', href='dist/style.css')
    title #{title}
  body
    div(class='LoginView')
      header(class='HeaderLogin')
        h1 Genttly
      section(class='MainLogin')
        div(class='Login')
          div(class='Login__icon')
            img(src='dist/images/Sign_in.svg', alt='')
          p
            | ¿Aún no tienes una cuenta?
            a(href='/signup') Regístrate
          div(class='Login__form')
            div(class='Login__email')
              label(htmlfor='') Tu email
              input#loginEmail(type='text', placeholder='alambrito@gmail.com')
            div(class='Login__username')
              label(htmlfor='') Tu usuario
              input#loginUsername(type='text', placeholder='Escribe tu usuario')
            div(class='Login__password')
              label(htmlfor='') Tu contraseña
              input#loginPassword(type='password', placeholder='Escribe tu contraseña')
            div(class='Login__forget')
              a(href='#') ¿Olvidaste tu contraseña?
            div(class='Login__button particles-js')
              button#loginButton(class='waves-effect waves-light btn') Inicia Sesión
      footer(class='Footer parti')
        div(class='Footer__copyright')
          p Genttly. Todos los derechos reservados, 2016
        div(class='Footer__support')
          p
            a(href='') Soporte:(+57) 313 838 2148

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
    script(src='https://cdn.jsdelivr.net/lodash/4.17.1/lodash.min.js')
    script(src='dist/login.js')
