doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.css')
    link(rel='stylesheet', href='dist/style.css')
    title #{title}
  body

  div(class='ThankPage')
    header(class='ThankPageHeader')
      div(class='ThankPageHeader__logo') Genttly
      div(class='ThankPageHeader__contact')
        div Whatsapp: (057) 3138382148
          span(class='icon icon-whatsapp')
        div
          a(href='/login') INGRESAR
    section(class='ThankPage__content')
      div
        h1 GRACIAS!
        h2 TE CONTÁCTAREMOS EN UNOS MINUTOS
        p ESPERA, TODAVÍA NO TE VAYAS TENEMOS UNA CLASE GRATIS PARA TI:
      div(class='video-container ThankPage__video')
        iframe(width='853', height='480', src='//www.youtube.com/embed/Q8TXgCzxEnw?rel=0', frameborder='0', allowfullscreen='')
    footer(class='ThankPageFooter')
      div(class='ThankPageFooter__cont')
        div
          a(href='#')
            span(class='icon icon-snapchat')
            | GENTTLY
        div
          a(href='#')
            span(class='icon icon-instagram')
            | GENTTLY
        div
          a(href='#')
            span(class='icon icon-whatsapp')
            | (057) 3138382148

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js')
    script(src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
    script(src='https://cdn.jsdelivr.net/lodash/4.17.1/lodash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.js')
    script(src='dist/manifest.js')
    script(src='dist/vendor.js')
    script(src='dist/landing.js')
