.ClassesView{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.Classes{
  display: flex;
  justify-content: flex-end;

  &__sidebar{
    width: 20%;
    height: 92.5vh;
    position: fixed;
    left: -300px;
    top: 60px;
    padding: 0 5px 0 0;
    background: $color-text-secundary;
    color: #fff;
    z-index: 10;
    @include mq(min-width, 768px){
      left: 0;
    }
    @include mq(min-width, 1200px){
      padding-left: 20px;
    }
    h2{
      font-size: 1.1em;
      width: 90%;
      text-align: center;
    }

  }

  &__sidebarWrap{
    padding-top: 5px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    li{
      height: 25px;
      margin: 15px 0;
      cursor: pointer;
      overflow-y: hidden;
      transition: 1s;
      a{
        color: #fff;
        padding: 5px 0;
      }
    }
  }

  &__containerList{
    padding-top: 10px;
    margin-bottom: 15px;
    font-size: .9em;
    color:#fff;
    height: 200px;
    overflow-y: scroll;
    position: relative;
  }

  &__listContainer{
    border: none;
    padding-left: 20px !important;
  }

  &__listhead{
    background: $color-text-secundary;
    border: none;
  }

  &__listBody{
    border-bottom: none;
  }

  &__lessons{
    li{
      padding: 5px 0;
      padding-left: 25px;
      width: 200px;
      position: relative;

      span{
        border: 2px solid #fff;
        width: 18px;
        height: 17px;
        background: lightgray;
        position: absolute;
        left: 0px;
        top: 7px;
        border-radius: 50%;
        z-index: 1000;
      }
    }
  }

  &__sidebarLine{
    width: 2px;
    height: 100%;
    background: $color-primary;
    position: absolute;
    left: 7.5px;
  }

  &__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    @include mq(min-width, 768px){
    }
  }

  &__nav{
    display: flex;
    justify-content: space-between;
    background: $color-background-gray;
    padding: 3px 20px;
    font-size: .9em;
    color: $color-text-dark;
    @include mq(min-width, 768px){
      position: fixed;
      left: 20%;
      top: 60px;
      z-index: 1;
      right: 0;
      padding: 5px 30px;
    }
  }

  &__previous, &__next{
    div:nth-child(2){
      a{
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
      }
    }
  }

  &__content{
    @include mq(min-width, 768px){
      align-self: flex-end;
      width: 80%;
      margin-top: 60px;
    }
  }

  &__video{
    @include mq(min-width, 768px){
      width: 75%;
      height: 480px;
      margin: 0 auto;
      padding-bottom: 30px;
      margin-top: 70px;
      iframe{
        height: 480px;
      }
    }
  }

  &__description{
    padding: 0 10px;
    @include mq(min-width, 768px){
      width: 70%;
      margin: 25px auto 0 auto;

    }
    h3{
      font-size: 1.2em;
      font-weight: bold;
      color: $color-text-secundary;
      margin: 10px 0;
    }
    p {
      color: $color-text-dark;
      font-weight: 300;
      margin: 10px 0;
    }
  }

  &__comments{
    padding: 0 10px;
    position: relative;
    @include mq(min-width, 768px){
      width: 70%;
      margin: 0 auto;
    }
  }

  &__commentsTitle{
    color: $color-text-dark;
  }
  &__commentsTextArea{
    textarea{
      border-color: $color-primary;
      font-weight: 300;
      padding: 5px 10px;
      color: $color-text-dark;
      height: 60px;
    }
  }

  &__commentContainer{
    font-size: .9em;
  }

  &__comment{
    display: flex;
    margin: 10px 0;

  }
  &__commentAvatar{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 17%;
    padding-right: 10px;
    padding-top: 8px;
    @include mq(min-width, 768px){
      width: 75px;
    }
    img{
      width: 35px;
      border: 1px solid $color-primary;
      border-radius: 50%;
      padding: 3px;
    }
  }
  &__commentContent{
    p{
      margin: 5px 0;
      color: $color-text-dark;
      font-weight: 300;
      span{
        color: $color-primary;
        font-weight: normal;
      }
    }
  }
  &__commentBottom{
    font-size: .8em;
    display: flex;
    width: 170px;
    justify-content: space-between;
  }
  &__commentMoment{
    color: $color-text-primary;
  }
  &__commentAnswer{
    text-decoration: none;
    a{
      color: $color-primary;
    }
  }

  &__responses{
    position: absolute;
    margin-bottom: 20px;
    left: 15%;
    width: 85%;
    @include mq(min-width,768px){
      left: 10%;
    }
  }

  &__response{
    display: flex;
    margin-bottom: 15px;
  }

  &__responseAvatar{
    padding-right: 10px;
    img{
      width: 35px;
      border: 1px solid $color-primary;
      border-radius: 50%;
      padding: 3px;
    }
  }

  &__responseContent{
    p{
      margin: 0;
      color: $color-text-dark;
      font-weight: 300;
      span{
        color: $color-primary;
        font-weight: normal;
      }
    }
  }
  &__responseMoment{
    font-size: .8em;
    color: $color-text-primary;
  }
}


// Actions Classes

.isActive{
  color: $color-primary !important;
}

.isSeen{
  color: $color-primary;
}
