.CoursesView{
  display: flex;
  flex-direction: column;
}

.Header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 1px 2px 6px #efefef;
  background: #fff;
  z-index: 10;
  @include mq(min-width, 768px){
    position: fixed;
  }

  h1{
    margin: 0;
  }

  &__userinfo{
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 40px;
    div {
      line-height: 40px;
      width: 110px;
      color: $color-primary;
    }
    img {
      width: 40px;
      padding: 4px;
      border: 1px solid $color-primary;
      border-radius: 50%;
    }
  }
}

.Courses {
  @include mq(min-width, 768px){
    padding-top: 50px;
  }
  h1 {
    font-size: 1.1em;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    @include mq(min-width, 768px){
      margin: 30px 0;
      font-size: 1.4em;
    }
  }

  ul{
    @include mq(min-width, 768px){
      width: 60%;
      margin: 0 auto;
    }
  }

  &__header{
    display: flex;
    padding: 0 5px;
    justify-content: space-around;
    background: $color-text-secundary;
    color: #fff;

    div {
      line-height: normal;
      font-size: .9em;
    }
  }

  &__title{
    width: 50%;
    display: flex;
    align-items: center;
  }

  &__progress{
    width: 40%;
    height: 3px;
    background: lightgray;
    margin-top: 10px;
  }

  &__progressbar{
    width: 60%;
    height: 3px;
    background: $color-primary;
    position: relative;
    span{
      width: 10px;
      height: 10px;
      background: #fff;
      position: absolute;
      right: 0;
      top: -2.5px;
      border-radius: 50%;
      @include mq(min-width, 768px){
        top: -3px;
      }
    }
  }

  &__percentage{
    margin-top: 5px;
  }

  &__head{
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid #efefef;
    font-size: .85em;
    font-weight: bold;
    color: $color-primary;
    div {
      width: 30%;
      padding-left: 5px;
      text-align: center;
    }
    div:nth-child(1){
      text-align: left;
    }
  }

  &__class{
    display: flex;
    padding: 10px 15px;
    font-weight: normal;
    font-size: .9em;
    div{
      width: 30%;
      padding-left: 5px;
      text-align: center;
    }
    div:nth-child(1){
      text-align: left;
    }
  }
}
