@font-face {
  font-family: 'genttly';
  src:  url('/dist/iconfonts/genttly.eot');
  src:  url('/dist/iconfonts/genttly.eot') format('embedded-opentype'),
    url('/dist/iconfonts/genttly.ttf') format('truetype'),
    url('/dist/iconfonts/genttly.woff') format('woff'),
    url('/dist/iconfonts/genttly.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'genttly' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-snapchat:before {
  content: "\e901";
}
.icon-whatssap:before {
  content: "\e902";
}

@font-face {
  font-family: 'genttly';
  src:  url('/dist/iconfonts/genttly.eot?70epss');
  src:  url('/dist/iconfonts/genttly.eot?70epss#iefix') format('embedded-opentype'),
    url('/dist/iconfonts/genttly.ttf?70epss') format('truetype'),
    url('/dist/iconfonts/genttly.woff?70epss') format('woff'),
    url('/dist/iconfonts/genttly.svg?70epss#genttly') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'genttly' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-snapchat:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
