// Typed JS blinking cursor
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    text-shadow: none !important;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.Landing{
  position: relative;
  &__bgAbove{
    background: #000;
    width: 100%;
    position: absolute;
    height: 537px;
    z-index: 20;
    opacity: .55;
    @include mq(min-width, 768px){
      height: 437px;
    }
    @include mq(min-width, 1000px){
      height: 650px;
    }
  }
}

.LandingHeader{
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  color: #fff;
  z-index: 100;
  @include mq(min-width, 1000px){
    padding: 15px 90px 10px 90px;
  }

  &__logo{
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #000;
    line-height: 40px;
    @include mq(min-width, 768px){
      line-height: 25px;
    }
  }

  &__cont{
    display: flex;
    width: 60%;
    justify-content: flex-end;
    font-size: .9em;
    @include mq(min-width, 768px){
      width: 340px;
      height: 30px;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__contact{
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    text-shadow: 1px 1px 1px #000;
    position: relative;
    @include mq(min-width, 768px){
      flex-wrap: nowrap;
      width: 200px;
    }
    @include mq(min-width, 1000px){
      font-size: 1.3em;
      width: 300px;
    }
    span{
      font-size: 1.2em;
      position: absolute;
      left: -25px;
      top: 4px;
    }
  }

  &__sigIn{
    a{
      font-size: .9em;
      border: .5px solid #fff;
      border-radius: 5px;
      padding: 5px 5px;
      color: #fff;
      text-decoration: none;
    }
    a:hover{
      color: $color-primary;
      border-color: $color-primary;
    }
  }
}

.Above {
  background: url("/dist/images/above_genttly.png") no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 50px;

  &__container{
    width: 100%;
    margin: 0 auto;
    z-index: 40;
    @include mq(min-width, 768px){
      width: 80%;
      display: flex;
      flex-direction: row;
    }
    @include mq(min-width, 1000px){
      height: 600px;
      align-items: center;
    }
  }

  &__lines{
    width: 180px;
    position: absolute;
    top: -30px;
    left: -30px;
    height: 120px;

    @include mq(min-width, 768px){
      top: 70px;
      left: -30px;
    }
    @include mq(min-width, 1000px){
      top: 150px;
      left: -15px;
    }
    img{
      width: 140px;
      height: 50px;
      @include mq(min-width, 768px){
        width: 150px;
      }
      @include mq(min-width, 1000px){
        width: 300px;
        height: 120px;
      }
    }

    img:nth-child(1), img:nth-child(2){

    }
  }

  &__title{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    @include mq(min-width, 768px){
      width: 30%;
      display: flex;
      height: 300px;
      align-items: center;
    }
    @include mq(min-width, 1000px){
      width: 600px;
    }
    h1{
      font-size: 1.8em;
      margin: 0;
      height: 100px;
      font-weight: normal;
      padding-top: 15px;
      @include mq(min-width, 768px){
        font-size: 2.5em;
        height: auto;
      }
      @include mq(min-width, 1000px){
        width: 900px;
        margin-left: -50px;
        font-size: 3.5em;
        padding-top: 0px;
        align-self: flex-start;
        margin-top: 50px;
      }

    }
  }

  &__register{
    width: 70%;
    margin: 0 auto;
    @include mq(min-width, 768px){
      width: 330px;
    }

    h2{
      text-shadow: 1px 1px 1px #7c7c7c;
      font-size: 1.1em;
      text-align: center;
      // border-left: 3px solid $color-primary;
      padding-left: 1px;
      @include mq(min-width, 1000px){
        font-size: 1.4em;
      }
    }
  }

  &__form{
    z-index: 100;
    div {
      label{
        text-shadow: 1px 1px 1px #000;
        color: #fff;
        @include mq(min-width, 1100px){
          font-size: 1em;
        }
      }
      input{
        margin-bottom:7px;
        height: 30px;
        border-bottom: 2px solid #fff;
        width: 85%;
        @include mq(min-width, 1100px){
          width: 300px;
        }
      }
    }
  }

  &__fullname, &__cellphone, &__email{
    position: relative;
  }

  &__button{
    text-align: center;
    margin: 20px 0 70px 0;

    button{
      font-size: .95em;
      background: #1FA0AE;
      border: none;
      border-radius: 2px;
      padding: 8px 20px;
      z-index: 50;

      &:hover{

      }
    }
  }

}

#particles-js{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  z-index: 10;
  display: none;
  z-index: 5;
  @include mq(min-width, 768px){
    display: block;
  }
}

#parti{
  position: absolute;
  top: 0;
  width: 100%;
  height: 400px;
  z-index: -1;
}

.Benefits{
  padding: 30px 10px 30px 10px;
  width: 100vw;
  @include mq(min-width, 1000px){
    padding: 70px 0 50px 0;
  }

  &__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    @include mq(min-width, 768px){
      justify-content: center;
      width: 90%;
      margin: 0 auto;
    }
  }

  &__title{
    @include mq(min-width, 768px){
      width: 70%;
      margin: 0 auto;
    }

    h3{
      margin: 0;
      font-size: 1.3em;
      text-align: center;
      color: $color-text-dark;
      letter-spacing: 3px;
      padding-bottom: 20px;
      position: relative;
      @include mq(min-width, 768px){
        font-size: 1.6em;
        text-align: left;
        padding-bottom: 30px;
      }
    }
  }

  &__lines{
    position: absolute;
    left: -20px;
    padding-top: 20px;
    @include mq(min-width, 768px){
      padding-top: 0;
    }
    @include mq(min-width, 1000px){
      margin-top: -30px;
      left: -30px;
    }
    img{
      width: 140px;
      @include mq(min-width, 768px){
        width: 180px;
      }
      @include mq(min-width, 1000px){
        width: 230px;
      }
    }
  }

  &__features{

    @include mq(min-width, 768px){
      display: flex;
      margin-top: 20px;
      justify-content: center;
      flex-wrap: wrap;
    }
    div{
      width: 80%;
      margin: 0 auto;
      @include mq(min-width, 768px){
        margin: 0 5px;
        width: 40%;
      }
      @include mq(min-width, 1000px){
        width: 300px;
        margin: 0 30px;
      }
      img{
        width: 180px;
      }
      h4{
        font-size: 1.2em;
        margin: 0;
        color: #696969;
        text-align: left;
      }
      p{
        margin: 10px 0;
        color: #90a4ae;
        text-align: left;
      }
    }
  }
}

.Simulator{
  background: #121324;
  color: #fff;
  padding: 20px 0 40px 0;
  position: relative;

  &__lines{
    position: absolute;
    right: 0px;
    top: 0;
    @include mq(min-width, 1000px){
      right: -40px;
    }
    img{
      width: 180px;
      @include mq(min-width, 1000px){
        width: 350px;
      }
    }
  }

  &__description{
    width: 73%;
    margin: 0 auto;
    @include mq(min-width, 1000px){
      width: 65%;
      font-size: 1.2em;
    }

    h3{
      font-size: 1.4em;
      text-align: center;
      padding: 20px 0 10px 0;
      @include mq(min-width, 768px){
        padding-top: 50px;
        font-size: 1.8em;
      }
    }
    p{
      font-size: 1.1em;
    }
    input{
      margin: 0;
      height: 30px;
      padding-left: 10px;
      @include mq(min-width, 1000px){
        font-size: 1.1em;
      }
    }
    input:nth-child(1){
      width: 30px;
    }
    input:nth-child(2){
      width: 100px;
      color: $color-primary;
    }
    div{
      font-size: 2.1em;
      text-align: center;
    }
  }
  &__chart{
    margin: 0 auto;
    width: 80%;
    // border-right: 1px solid #fff;
    // border-bottom: 1px solid #fff;
    text-align: center;
    padding-top: 20px;
    position: relative;
    @include mq(min-width, 768px){
      width: 70%;
    }
    @include mq(min-width, 1000px){

    }
  }

  &__amount{
    position: absolute;
    left: 0px;
    top: -10px;
    font-size: .9em;
    color: $color-primary;
  }

  &__month{
    position: absolute;
    left: 17px;
    bottom: 15px;
    font-size: .7em;
    color: $color-primary;
  }

}

// Chart styles self
.ct-chart{
  width: 100%;
  height: 250px;
  @include mq(min-width, 1000px){
    margin-left: 0;
    height: 300px;

  }
  svg{
    @include mq(min-width, 1000px){
      // transform: scale(1.1);
    }
  }
}

.ct-label{
  color: #fff;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-pie{
  fill: $color-primary;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut{
  stroke: white;
  stroke-width: 6px;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line,.ct-point{
  stroke: $color-primary;
    stroke-width: 3px;
}

.ct-grid{
  stroke: rgba(255, 255, 255, .5);
}



.LandingCourses{
  background-image: linear-gradient(180deg, #121324, #1b203e);
  color: #fff;
  padding: 80px 0 40px 0;
  h3{
    margin: 0;
    font-size: 1.3em;
    padding-bottom: 40px;
    padding-left: 20px;
    position: relative;
    @include mq(min-width, 1100px){
      font-size: 1.8em;
      width: 90%;
      margin: 0 auto;
    }

    &:before{
      content: url("/dist/images/courses-lines.png");
      position: absolute;
      left: -50px;
      height: 40px;
      top: -100px;
      @include mq(min-width, 1000px){
        left: -110px;
      }
    }
  }

  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    padding-bottom: 20px;
    @include mq(min-width, 1100px){
      flex-direction: row;
      width: 90%;
      margin: 0 auto;
    }
  }

  &__timeLine{
    width: 2px;
    left: -15px;
    height:100%;
    position: absolute;
    background: $color-primary;
    @include mq(min-width, 1100px){
      height: 2px;
      width: 200%;
      display: none;
    }
  }

  &__dayLine{
    width: 30px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 7px;
    right: 0px;
    @include mq(min-width, 500px){
      width: 40px;
    }
    @include mq(min-width, 750px){
      width: 60px;
    }
  }

  &__dayBall{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: 25px;
    top: 4px;
    @include mq(min-width, 500px){
      right: 35px;
    }
    @include mq(min-width, 750px){
      right: 55px;
    }
  }

  &__timeLineLarge{
    @include mq(min-width, 1100px){
      width: 100%;
      height: 2px;
      position: absolute;
      background: $color-primary;
      box-shadow: .3px .3px 10px #fff;
    }
  }

  &__dayLineLarge{
    width: 1px;
    height: 50px;
    background: #fff;
    position: absolute;
    left: 17px;
    top: -80px;
  }

  &__dayBallLarge{
    width: 6px;
    height: 6px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    top: -85px;
    left: 15px;
  }

  &__dayLineLargeDown{
    background: #fff;
    width: 1px;
    height: 30px;
    position: absolute;
    left: 17px;
    top: 22px;
  }

  &__dayBallLargeDown{
    width: 6px;
    height: 6px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    top: 48px;
    left: 15px;
  }

  &__item{
    width: 70%;
    display: flex;
    justify-content: space-around;
    @include mq(min-width, 600px){
      width: 50%;
    }
    @include mq(min-width, 1100px){
      position: relative;
    }
  }

  &__item:nth-child(even){
    @include mq(min-width, 1100px){
      padding-bottom: 220px;
    }
  }

  &__item:nth-child(odd){
    @include mq(min-width, 1100px){
      padding-top: 330px;
    }
  }

  &__day{
    @include mq(min-width, 1100px){
      position: relative;
    }
  }

  &__item:nth-child(odd) &__day{
    @include mq(min-width, 1100px){
      position: absolute;
      top: 270px;
      left: 80px;
    }
  }

  &__item:nth-child(even) &__day{
    @include mq(min-width, 1100px){
      position: absolute;
      top: 215px;
      left: 80px;
    }
  }

  &__round{
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: -7px;
  }

  &__ball{
    width: 7px;
    height: 7px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    left: 2px;
    top: 2px;
  }

  &__roundLarge{
    @include mq(min-width, 1100px){
      width: 16px;
      height: 16px;
      border: 2px solid #fff;
      position: absolute;
      top: -30px;
      left: 10px;
      border-radius: 50%;
    }
  }

  &__ballLarge{
    width: 7.8px;
    height: 8px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    left: 2px;
    top: 2px;
  }

  &__class{
    position: relative;
    width: 50%;
    padding-bottom: 7px;
    padding-left: 40px;
    @include mq(min-width, 600px){
      padding-bottom: 30px;
    }
    @include mq(min-width, 1000px){
      padding-left: 0;
    }

    h4{
      font-size: .9em;
      margin: 0;
      width: 130px;
      position: relative;
      &:before{
        content: url('/dist/images/atomo.png');
        position: absolute;
        width: 30px;
        height: 30px;
        top: -5px;
        left: -37px;
      }
    }
    p{
      font-size: .85em;
      @include mq(min-width, 1100px){
        width: 150px;
      }
    }
  }
}

.Learn{
  width: 100%;
  background: url("https://s-media-cache-ak0.pinimg.com/originals/c5/14/3f/c5143f91acd65f57e188ed85454a3a76.jpg");
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #efefef;
  position: relative;
  z-index: 1;
  @include mq(min-width, 500px){
    width: 100%;
  }

  &__fullname, &__cellphone, &__email{
    position: relative;
  }

  &__bg{
    background: $color-text-secundary;
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 560px;
    margin-top: -20px;
    z-index: -1;
  }

  &__form{
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    background: #fff;
    margin-top: 10px;
    box-shadow: 0px 2px 12px #666;
    z-index: 20;
    @include mq(min-width, 500px){
      width: 350px;
    }
    @include mq(min-width,768px){
      padding: 30px;
    }
    h4{
      margin: 0 auto;
      font-size: 1.3em;
      color: #757575;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 20px;
      width: 220px;
    }
    div{
      input{
        border-bottom: 1px solid #dbdbdb;
        width: 90%;
      }
    }
  }

  &__button{
    text-align: center;
    padding-top: 10px;
    button{
      padding: 7px 25px;
      border: none;
      background: $color-primary;
      color: #fff;
      border-radius: 5px;
    }
  }
}

.Clients{
  padding: 15px 0 30px 0;
  h3{
    font-size: 1.5em;
    color: $color-text-dark;
    text-align: center;
    @include mq(min-width, 1000px){
      font-size: 1.9em;
    }
  }
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(min-width, 768px){
      height: 420px;
      justify-content: center;
      width: 80%;
      margin: 0 auto;
    }
    @include mq(min-width, 1000px){
      width: 70%;
      flex-direction: row;
    }
  }

  &__testimonial{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    position: relative;
    @include mq(min-width, 1000px){
      width: 800px;
      flex-direction: row;
    }
    // iframe{
    //   width: 500px !important;
    //   height: 300px !important;
    //   z-index: 5;
    // }
  }

  &__iframe{
    width: 500px;
    height: 300px;
    z-index: 5;
    iframe{
      width: 510px;
      height: 300px;
    }
  }

  &__quotes{
    position: absolute;
    right: -55px;
    bottom: 80px;
    width: 70px;
    height: 70px;
    opacity: .3;
    background: url("/dist/images/testimonial-quote.png") no-repeat;
    background-size: contain;
    @include mq(min-width, 1000px){
      width: 80px;
      height: 80px;
      right: 0px;
      bottom: 0;
      top: -10px;
    }
  }

  &__testimoniaText{
    width: 90%;
    color: $color-text-dark;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 1.1em;
    position: relative;
    @include mq(min-width, 1000px){
      margin: 5px;
      width: 190px;
      align-self: flex-start;
      padding-left: 15px;
    }
  }

  &__frame{
    display: none;
    border: 1px solid #1FA0AE;
    position: absolute;
    width: 500px;
    height: 300px;
    left: -10px;
    top: -17px;
    z-index: 1;
    @include mq(min-width, 1000px){
      display: block;
    }
  }

  &__line{
    display: none;
    @include mq(min-width, 1000px){
      display: block;
      position: absolute;
      width: 50px;
      height: 1px;
      background: #757575;
      top: 35px;
      right: 235px;
    }
    span{
      position: absolute;
      background: #1FA0AE;
      width: 7px;
      height: 7px;
      top: -3px;
      right: 0px;
      border-radius: 50%;
    }
  }
}

.LandingFooter{
  padding: 15px 0;
  background: #121324;
  color: #fff;
  font-size: .9em;
  display: flex;
  justify-content: center;

  &__container{
    width: 130px;
    @include mq(min-width, 768px){
      display: flex;
      width: 700px;
      justify-content: space-between;
    }
    @include mq(min-width, 1000px){
      width: 500px;
    }

    div{
      a{
        color: #fff;
        display: flex;
        width: 180px;
        margin-bottom: 10px;
        span{
          font-size: 1.5em;
          padding-right: 5px;
        }
      }
      a:hover{
        color: $color-primary;
      }
    }
  }
}


.ThankPage{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  &Header{
    background-image: linear-gradient(180deg, #121324, #1b203e);
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
    @include mq(min-width, 768px){
      padding: 20px 70px;
    }
    &__contact{
      @include mq(min-width, 768px){
        width: 280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }
      span{
        font-size: 1.2em;
        position: absolute;
        left: -25px;
        top: 7px;
      }
      div:nth-child(2){
        border: 1px solid #fff;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: .9em;
        &:hover{
          border-color: $color-primary;
        }
        &:hover a{
          color: $color-primary;
        }
        a{
          color: inherit;
        }
      }
    }
  }

  &__content{
    h1{
      font-size: 2em;
      text-align: center;
      color: $color-primary;
    }
    h2{
      font-size: 1.5em;
      text-align: center;
      color: $color-text-dark;
    }
    p{
      font-weight:normal;
      width: 85%;
      margin: 0 auto;
      text-align: center;

    }
  }
  &__video{
    margin: 25px 0 0 0;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 450px;
    padding-bottom: 0;
    @include mq(min-width, 768px){
      width: 650px;
      margin: 20px auto 10px auto;
    }
    iframe{
      @include mq(min-width, 768px){
        height: 400px;
        width: 650px;
      }
    }
  }
  &Footer{
    background: $color-text-secundary;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    width: 100%;
    @include mq(min-width, 768px){
      flex-direction: row;
      justify-content: space-around;
      position: absolute;
      bottom: 0;
    }
    @include mq(min-width, 1100px){

    }

    &__cont{
      @include mq(min-width, 768px){
        display: flex;
        width: 600px;
        justify-content: space-around;
      }
      div{
        position: relative;
        color: #fff;
        span{
          position: absolute;
          left: -25px;
          top: 0px;
          font-size: 20px;
        }
        a{
          color: inherit;
        }
      }
    }
  }
}


// Utilities

.errorFormMsg{
  display: none;
}
