.LoginView {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: $color-text-primary;
}

.HeaderLogin{
  width: 100vw;
  box-shadow: 1px 2px 6px #efefef;
  padding: 10px 20px;

  h1{
    margin: 0;
    color: $color-text-secundary;
    font-weight: 300;
  }
}

.MainLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.Login{
  border: 1px solid #efefef;
  box-shadow: 0px 0px 13px #efefef;
  padding: 25px 40px;
  p {
    font-size: .9em;
    line-height: 0;
    a {
      color: $color-primary;
    }
  }

  h5{
    text-align: center;
  }

  &__icon{
    text-align: center;
    img{
      width: 80px;
      padding: 7px;
      border: 1px solid $color-primary;
      border-radius: 50%;
    }
  }

  &__forget{
    margin-bottom: 15px;
    font-size: .9em;
    a{
      color: $color-primary;
    }
  }

  &__button{
    text-align: center;
    button {
      background: $color-primary;
      &:hover{
        background: $color-primary-hover;
      }
    }

 }

}

.Footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  overflow-y: hidden;
  @include mq(min-width, 768px){
    flex-direction: row;
    justify-content: space-around;
  }

  &__copyright{
    display: none;
    @include mq(min-width, 768px){
      display: block;
    }
  }

  &__support {
    a {
      color: $color-primary;
    }
  }

  p {
    margin: 0;
    text-align: center;
    font-size: .9em;
  }
}
