section(class='Above')
  div(class='Above__container')
    div(class='Above__title')
      div(class='Above__lines')

        img(src='dist/images/above-line1.png', alt='above-line-genttly')
        img(src='dist/images/above-line2.png', alt='above-line-genttly')

      h1
        | INVIERTE EN 
        span(class='element') EUROS
    div(class='Above__register')
      h2 APRENDE A INVERTIR AHORA
      div(class='Above__form')
        div(class='Above__fullname')
          label(htmlfor='') Nombre
          input(type='text' id='LandingFormName')
        div(class='Above__cellphone')
          label(htmlfor='') Celular
          input(type='number' id='LandingFormPhone')
        div(class='Above__email')
          label(htmlfor='') Correo
          input(type='text' id='LandingFormEmail')
        div(class='Above__button')
          button(id='LandingFormButton' class='waves-effect') ENVIAR
          p(class='errorFormMsg') Debes llenar todos los campos


  #particles-js
