section(class='Benefits')
  div(class='Benefits__container')
    div(class='Benefits__title')
      div(class='Benefits__lines')
        img(src='dist/images/benefits-lines.png', alt='')
      h3 NUESTROS BENEFICIOS:
    div(class='Benefits__features')
      div
        img(src='dist/images/puno-puno.svg', alt='')
        h4 Asesoria para tus inversiones
        p Entendemos que es necesaria una formación mental y emocional que complemente la perspectiva de cada uno de nuestros estudiantes
      div
        img(src='dist/images/tiro-al-blanco.svg', alt='')
        h4 Estrategia de inversión efectivas
        p Nuestro programa minimiza la perspectiva del mercado a la sencillez necesaria
      div
        img(src='dist/images/bolsa-de-dinero.svg', alt='')
        h4 Aprende sin arriesgar dinero
        p Tenemos simuladoes que mejoran tu rendimiento
      div
        img(src='dist/images/benefits-contact.svg', alt='')
        h4 Aprende sin arriesgar dinero
        p Tenemos simuladores que mejoran tu rendimiento
      div
        img(src='dist/images/benefits-social.svg', alt='')
        h4 Clases en tiempo real
        p Contamos con una asistencia totalmente personalizada de +12 horas intensivas para educarte y solventar cualquier duda, en cualquier momento
