section(class='Clients')
  h3 NUESTROS CLIENTES
  div(class='Clients__container')
    #one(class='Clients__testimonial')
      div(class='Clients__frame')
      div(class='Clients__line')
        span
      div(class='Clients__iframe')
        iframe(src='https://www.youtube.com/embed/HQAPfof6UbA')
      p(class='Clients__testimoniaText') He logrado ganar 50.000.000 en dos meses, estos cursos son realmente grandiosos, nunca pensé ganar dinero tan fácil
        div(class='Clients__quotes')

