section(class='LandingCourses')
  h3 CONOCE NUESTROS CURSOS
  div(class='LandingCourses__container')
    div(class='LandingCourses__timeLineLarge')
      span(class='LandingCourses__timeLineLargeBall')
    div(class='LandingCourses__item')
      div(class='LandingCourses__day')
        | DÍA 1
        span(class='LandingCourses__roundLarge')
          span(class='LandingCourses__ballLarge')
        span(class='LandingCourses__dayLineLarge')
        span(class='LandingCourses__dayBallLarge')
      div(class='LandingCourses__class')
        div(class='LandingCourses__timeLine')
          span(class='LandingCourses__dayLine')
          span(class='LandingCourses__dayBall')
          span(class='LandingCourses__round')
            span(class='LandingCourses__ball')
        h4 ORIGEN DEL MERCADO FOREX
        p ¿Por qué todos ya somos traders?Participantes de los mercado Sesiones, volumen y volatilidad Pares de divisas y Margen de Spread
	  
    div(class='LandingCourses__item')
      div(class='LandingCourses__day')
        | DÍA 2
        span(class='LandingCourses__roundLarge')
          span(class='LandingCourses__ballLarge')
        span(class='LandingCourses__dayLineLargeDown')
        span(class='LandingCourses__dayBallLargeDown')
      div(class='LandingCourses__class')
        div(class='LandingCourses__timeLine')
          span(class='LandingCourses__dayLine')
          span(class='LandingCourses__dayBall')
          span(class='LandingCourses__round')
            span(class='LandingCourses__ball')
        h4 MOVIMIENTO DEL MERCADO
        p En este nivel estudiarás maching learning y tecnologías de información
    div(class='LandingCourses__item')
      div(class='LandingCourses__day')
        | DÍA 3
        span(class='LandingCourses__roundLarge')
          span(class='LandingCourses__ballLarge')
        span(class='LandingCourses__dayLineLarge')
        span(class='LandingCourses__dayBallLarge')
      div(class='LandingCourses__class')
        div(class='LandingCourses__timeLine')
          span(class='LandingCourses__dayLine')
          span(class='LandingCourses__dayBall')
          span(class='LandingCourses__round')
            span(class='LandingCourses__ball')
        h4 MOVIMIENTO DEL MERCADO
        p En este nivel estudiarás maching learning y tecnologías de información
    div(class='LandingCourses__item')
      div(class='LandingCourses__day')
        | DÍA 4
        span(class='LandingCourses__roundLarge')
          span(class='LandingCourses__ballLarge')
        span(class='LandingCourses__dayLineLargeDown')
        span(class='LandingCourses__dayBallLargeDown')
      div(class='LandingCourses__class')
        div(class='LandingCourses__timeLine')
          span(class='LandingCourses__dayLine')
          span(class='LandingCourses__dayBall')
          span(class='LandingCourses__round')
            span(class='LandingCourses__ball')
        h4 MOVIMIENTO DEL MERCADO
        p En este nivel estudiarás maching learning y tecnologías de información
    div(class='LandingCourses__item')
      div(class='LandingCourses__day')
        | DÍA 5
        span(class='LandingCourses__roundLarge')
          span(class='LandingCourses__ballLarge')
        span(class='LandingCourses__dayLineLarge')
        span(class='LandingCourses__dayBallLarge')
      div(class='LandingCourses__class')
        div(class='LandingCourses__timeLine')
          span(class='LandingCourses__dayLine')
          span(class='LandingCourses__dayBall')
          span(class='LandingCourses__round')
            span(class='LandingCourses__ball')
        h4 MOVIMIENTO DEL MERCADO
        p En este nivel estudiarás maching learning y tecnologías de información
    div(class='LandingCourses__item')
      div(class='LandingCourses__day')
        | DÍA 6
        span(class='LandingCourses__roundLarge')
          span(class='LandingCourses__ballLarge')
        span(class='LandingCourses__dayLineLargeDown')
        span(class='LandingCourses__dayBallLargeDown')
      div(class='LandingCourses__class')
        div(class='LandingCourses__timeLine')
          span(class='LandingCourses__dayLine')
          span(class='LandingCourses__dayBall')
          span(class='LandingCourses__round')
            span(class='LandingCourses__ball')
        h4 MOVIMIENTO DEL MERCADO
        p En este nivel estudiarás maching learning y tecnologías de información
