footer(class='LandingFooter')
  div(class='LandingFooter__container')
    div
      a(href='#')
        span(class='icon icon-snapchat')
        | GENTTLY
    div
      a(href='#')
        span(class='icon icon-instagram')
        | GENTTLY
    div
      a(href='#')
        span(class='icon icon-whatsapp')
        | (057) 3138382148
