section(class='Learn')
  div(class='Learn__bg')
  div(class='Learn__form')
    h4 EMPIEZA A APRENDER AHORA
    div(class='Learn__fullname')
      label(htmlfor='') Nombre y apellido
      input(type='text' id='LearnFormName')
    div(class='Learn__cellphone')
      label(htmlfor='') Celular
      input(type='text' id='LearnFormPhone')
    div(class='Learn__email')
      label(htmlfor='') Correo
      input(type='text' id="LearnFormEmail")
    div(class='Learn__button')
      button(id='LearnFormButton' class='waves-effect') ENVIAR
  #parti
